<html ng-app="angular-auth" xmlns="http://www.w3.org/1999/html">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/md5-min.js"></script>
        <style type="text/css">
            label {
            	float: left;
            	text-align: right;
            	margin-right: 15px;
            	width: 60px;
            }
        </style>
    </head>
    <body>
        <div ng-controller="SecuredCtrl">
            <form>
                <div>
                    <label>Login:</label>
                    <input type="text" ng-model="login"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="text" ng-model="password"/>
                </div>
                <div>
                    <input type="submit" ng-click="push(login, password)" value="Push the button"/>
                    <span>{{data}}</span>
                </div>
            </form>
        </div>
    </body>
</html>